*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #92a4c1;
}
h1{
    font-size: 50px;
    letter-spacing: 9px;
}
/* heading section*/
.logo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin:0 auto;
}
.heading{
    background-image: linear-gradient(rgba(187, 150, 207, 0.637),rgba(187, 150, 207, 0.637)),url(Assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    width: 100%;
}
.heading-items {
    margin: 0 auto;
    text-align: center;
}
.caption{
    font-size: 19px;
    letter-spacing: 12px;
    margin-top: 20px;
}

/*main section*/
.main{
    padding: 20px 20px;
    background-image: linear-gradient(rgba(146, 164, 193, 0.515),rgba(146, 164, 193, 0.515)),url(Assets/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-text p{
    padding-top: 20px;
    padding-right: 10px;
    width: 45%;
    float: left;
    font-size: 20px;
    line-height: 1.5;
}

.main-img {
    width: 30%;
    float: left;
    text-align: center; 
}
.main-img img{
    border-radius: 10px;
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

/*footer*/
.footer{
    padding:20px 0;
    text-align: center;
    background-image: linear-gradient(rgba(187, 150, 207, 0.637),rgba(187, 150, 207, 0.637)),url(Assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.social-logo{
    height: 25px;
    width: 25px;

}
.footer-text{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}
.footer-prompt{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
}

.social {
    text-align: center;
    margin-right: 23px;
}

.social ul {
    list-style: none;
}

.social ul li {
    display: inline-block;
    margin-left: 20px;
}