*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #92a4c1;
}
h1{
    font-size: 50px;
    letter-spacing: 9px;
}
/* heading section*/
.logo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin:0 auto;
}
.heading{
    background-color: #bb96cf;
    padding: 50px 0;
}
.heading-items {
    margin: 0 auto;
    text-align: center;
}
.caption{
    font-size: 19px;
    letter-spacing: 12px;
    margin-top: 20px;
}

/*main section*/
.main{
    padding: 0px 20px;
    margin-bottom: 20px;
}
.main-text p{
    padding-top: 20px;
    padding-right: 10px;
    width: 60%;
    float: left;
    font-size: 20px;
    line-height: 1.5;
}

.main-img {
    width: 40%;
    float: left;
    text-align: center; 
}
.main-img img{
    border-radius: 10px;
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

/*footer*/
.footer{
    margin: 0 auto;
    text-align: center;
    background-color: #bb96cf;
}
.insta-logo{
    height: 20px;
    width: 20px;

}
.footer-text{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer-prompt{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}